{{ define "content" }}
    <div class="row">
        <div class="col-xs-12">
            {{ .Data.Company.Filings }}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ .Data.Company.CompanyName }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a href="#company" aria-controls="company" role="tab" data-toggle="tab">Company</a></li>
                            <li role="presentation"><a href="#officers" aria-controls="officers" role="tab" data-toggle="tab">Officers</a></li>
                            <li role="presentation"><a href="#filings" aria-controls="filings" role="tab" data-toggle="tab">Filings</a></li>
                            {{ if .Data.Company.HasCharges }}<li role="presentation"><a href="#charges" aria-controls="charges" role="tab" data-toggle="tab">Charges</a></li>{{ end }}
                            {{ if .Data.Company.HasInsolvencyHistory }}<li role="presentation"><a href="#insolvency" aria-controls="insolvency" role="tab" data-toggle="tab">Insolvency</a></li>{{ end }}
                        </ul>
                    </div>

                    <div class="col-xs-10">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="company">
                                {{ template "tabGeneral" . }}
                            </div>

                            <div role="tabpanel" class="tab-pane" id="officers">
                                {{ template "tabOfficers" . }}
                            </div>

                            <div role="tabpanel" class="tab-pane" id="filings">
                                {{ template "tabFilings" . }}
                            </div>

                            {{ if .Data.Company.HasCharges }}
                                <div role="tabpanel" class="tab-pane" id="charges">
                                    {{ template "tabCharges" . }}
                                </div>
                            {{ end }}
                            
                            {{ if .Data.Company.HasInsolvencyHistory }}
                                <div role="tabpanel" class="tab-pane" id="insolvency">Insolvency

                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{{ end }}